.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail {
  width: calc(25% - 10px);
  max-height: 200px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s;
  margin: 10px;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  max-height: 80vh;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: contain; /* Empêcher le débordement */
}

.enlarged {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain; /* Maintenir les proportions de l'image sans déborder */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10; /* Assure que le bouton est au-dessus de l'image */
}
